
-e git+https://github.com/liudengfeng/cswd#egg=cswd

cloudpickle>=0.2.1

# blaze

# 1. datashape
datashape>=0.5.2

# 2. odo
-e git+https://github.com/liudengfeng/odo#egg=odo

# 3. blaze
-e git+https://github.com/liudengfeng/blaze#egg=blaze

# `empyrical`
-e git+https://github.com/liudengfeng/empyrical#egg=empyrical

# `pyfolio`
-e git+https://github.com/liudengfeng/pyfolio#egg=pyfolio


# `alphalens`
#-e git+https://github.com/liudengfeng/alphalens#egg=alphalens



cvxpy>=1.0.3


plotly>=2.7.0


-e git+https://github.com/liudengfeng/cufflinks#egg=cufflinks


ipywidgets>=7.2.1